<div id="song-data" style="display: none"><%= songList %></div> <!-- extra data that is never shown to client -->
<div class="media">
    <div class="flex-container">
        <div class="flex-item" id="share-section">
            <button class="share-btn">Share</button>
            <br>
            <!-- <div style="text-align: center;">
                <input type="range" min="1" max="100" value="50" class="slider" id="volume-slider">
            </div> -->
        </div>
        <div class="flex-item" id="next-songs-section">
            <h2>Next 3 Songs</h2>
            <div id="next-songs"></div>
        </div>
        <div class="flex-item middle-media" id="middle-media">
            <div>
                <h2 id="song-title"><%= JSON.parse(songList)[currIndexSong].title %></h2>
                <p id="song-artist"><%= JSON.parse(songList)[currIndexSong].artist %></p>
                <audio id="audio" onended="changeSong()" controls>
                    <source id="media-source" src="<%= "../media/" + JSON.parse(songList)[currIndexSong].title.toLowerCase().split(' ').join('_') + ".mp3" %>">
                </audio>
                <br><br>
                <button onClick="toggleLyrics()" style="display: none">Toggle lyrics</button>
            </div>
        </div>
        <div class="flex-item">
            <div style="text-align: center;width: 90%; height: 100%">
                <img src="<%= "../media/" + JSON.parse(songList)[currIndexSong].title.toLowerCase().split(' ').join('_') + ".jpg" %>" id="music-pic">
            </div>
        </div>
       
        <div class="share-slider hide-slider">
            <ul>
                <li>
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="lyrics-modal hide-lyrics">
            <!-- <i class="bi bi-x-square"></i> -->
            <h1>Lyrics</h1>
            <p>Lorem ipsumipsum dolor sit ametamet consectetur adipisicing elit. Enim quo quibusdam, corrupti perferendis illum, excepturi necessitatibus beatae quae iste recusandae incidunt quasi voluptatum reiciendis sed, labore qui a quos? Beatae?</p>
        </div>
    </div>
</div>