<div id="song-data" style="display: none"><%= songList %></div> <!-- extra data that is never shown to client -->
<div id="song-index" style="display: none"><%= currSongIndex %></div>
<div class="media">
    <div class="flex-container">
        <div class="flex-item">
            <button class="share-btn">Share</button>
            <br>
            <!-- <div style="text-align: center;">
                <input type="range" min="1" max="100" value="50" class="slider" id="volume-slider">
            </div> -->
        </div>
        <div class="flex-item middle-media" id="middle-media">
            <div>
                <h2><%= JSON.parse(songList)[currSongIndex].title %></h2>
                <p><%= JSON.parse(songList)[currSongIndex].artist %></p>
                <audio id="audio" onended="changeSong()" controls>
                    <source id="media-source" src="<%= "media/" + JSON.parse(songList)[currSongIndex].title.toLowerCase().split(' ').join('_') + ".mp3" %>">
                </audio>
                <br><br>
                <button onClick="toggleLyrics()">Toggle lyrics</button>
            </div>
        </div>
        <div class="flex-item">
            <div style="text-align: center;">
                <img src="<%= "media/" + JSON.parse(songList)[currSongIndex].title.toLowerCase().split(' ').join('_') + ".jpg" %>" id="music-pic">
            </div>
        </div>
        <div class="share-slider hide-slider">
            <ul>
                <li>
                    <a href="#">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="lyrics-modal hide-lyrics">
            <!-- <i class="bi bi-x-square"></i> -->
            <h1>Lyrics</h1>
            <p>Lorem ipsumipsum dolor sit ametamet consectetur adipisicing elit. Enim quo quibusdam, corrupti perferendis illum, excepturi necessitatibus beatae quae iste recusandae incidunt quasi voluptatum reiciendis sed, labore qui a quos? Beatae?</p>
        </div>
    </div>
</div>