<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <style>
        p {
            padding-top: 5px;
        }
    </style>
</head>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/media') %>
    <div class="page-content" id="main-page-content">
        <p>Title: <%= song.title %></p>
        <p>Artist: <%= song.artist %></p>
        <p>Year Released: <%= song.yearReleased %></p>
        <br>
        <h1>Comments</h1>
        <% for(let i = 0; i < song.comments.length; i++) { %>
            <p> <%= song.comments[i].commenter %> | <%= song.comments[i].comment %> </p>
        <% } %>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>