<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <%- include('../partials/media') %>
    <div class="page-content" id="main-page-content">
        <h1>Songs</h1>
        <div style="text-align: center">
            <% songs.forEach((song)=>{ %>
                <a href="songs/<%= song.id %>"><%= song.title %></a>
                <br>
            <% }) %>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>